$theme-dark-primary: #233961;
$theme-dark-secondary: #ede7d4;
$theme-dark-tertiary: #3e5b7c;
$theme-dark-quaternary: #273e54;
$theme-dark-quinary: #8f8e7c;
$theme-light-primary: #ede7d4;
$theme-light-secondary: #233961;
$theme-light-tertiary: #8f8e7c;
$theme-light-quaternary: #3e5b7c;
$theme-light-quinary: #273e54;
$theme-light-input-text-color: #0c466bde;
$theme-light-input-border-color: rgba(12, 70, 107, 0.6);
$theme-light-input-icon-color: #0c466b99;
